*{box-sizing: border-box;}

html,body{
	position: relative;
	height: 100%;
    font-family: Helvetica,Arial,Roboto,"微軟正黑體",sans-serif;
    font-size: 16px;
    background: $white;
    // overflow-x: auto;
}
button{ outline: none; }