//顏色
$main-color:#FFA92F;
$word-color:#141412;

$input-border:#A79385;
$input-color:#3F2308;
$input-word:#FFFEB4;

$white:#fff;
$gold:-webkit-linear-gradient( 0deg,#0081AD 0, #FFF 100%);
$red:#FF0000;
$yellow:#FFFF00;

//間距
$gutter:20px;
$grid-num:12;